apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
  namespace: prod
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
        - name: demo-app
          image: sahil867/msil-demo-repo:IMAGE_TAG
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          env:
            - name: APP_ENV
              value: "PROD"
---
apiVersion: v1
kind: Service
metadata:
  name: demo-app-nodeport
  namespace: prod
spec:
  type: NodePort
  selector:
    app: demo-app
  ports:
    - name: http
      port: 80
      targetPort: 3000
      nodePort: 30081
